
body{
    background-color: #43eaf0;
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

form{
    background-color: white;
    max-width:500px;
    margin:50px auto;
    padding:30px 20px;
    box-shadow:2px 5px 10px black;
}
.form-control{
    text-align:left;
    margin-bottom:25px;
}
.form-control label{
    display: block;
    margin-bottom: 10px;
}
.form-control input,.form-control select,.form-control textarea{
    display: block;
    width:95%;
    border: 1px solid black;
    padding:10px;
    border-radius: 2px;

}
.form-control input[type="radio"],.form-control input[type="checkbox"]{
    display: inline-block;
    width:auto;
}
button{
    width: 95%;
    border-radius: 2px;
    padding: 3px;
    background-color: #43eaf0;
    margin-top: 40px;
    margin-bottom: 20px;
}